
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {
    .archive {
        .main {
            .row {
                article {
                    &:nth-child(4n+1) {
                        clear: left;
                    }
                }
            }
        }
    }

    .nav-main ul li, .nav li {
        display: inline-block;
    }

    .taxonomy-nav .nav {
        li {
            border-right: 1px solid @gray;
            float: none;
            padding: 0 .5em;
            line-height: 1em;

            a {
                line-height: 1em;
            }
        }

        .dropdown {
            position: static;
        }

        .dropdown-menu {
            background: none;
            border: none;
            .box-shadow(none);
        }
    }

    .grid {
        .main {
            article {
                .media-object {
                    .grid-media-object;
                }
            }
        }
    }

    .related-content {
        article {
            .media-object {
                .grid-media-object;
            }
        }
    }

    .single-post {
        .sidebar {
            article {
                .media-object {
                    .grid-media-object;
                }
            }
        }
    }

    .home .main {
        .row {
            article {
                &.list-item-3, &.list-item-4 {
                    .article-inner {
                        border-bottom: none;
                    }
                }
            }
        }
    }


    .archive-link-container {
        margin-bottom: 0;
    }


    .collections-landing {
        &.collections-landing-source {
            .source {
                &:nth-child(2n+1) {
                    clear: none;
                }
                
                &:nth-child(4n+1) {
                    clear: left;
                }
                
                
            }
        }
    }

    .nav-main {
        .dropdown {
            &:hover, &:active, &:focus {
                .dropdown-menu {
                    .show;
                }
            }
        }
    }

    .nav-main {
        li:last-child {
            max-width: 20%;
        }
    }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {

    .grid .main {
        article {
            .media-object {
                img {
                    min-width: 184px;
                }
                height: 150px;
            }
        }
    }

    .related-content {
        article {
            .media-object {
                img {
                    min-width: 184px;
                }
                height: 150px;
            }
        }
    }


    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {
   
}